<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="ManufacturerFolder" Name="SaltSpectre">
        <Directory Id="INSTALLFOLDER" Name="FileUnblocker" />
      </Directory>
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ApplicationFiles">

      <Component Id="UnblockerExe" Directory="INSTALLFOLDER">
        <File Id="UnblockerExe"
              Source="$(var.EXECUTABLE_PATH)"
              Name="unblocker.exe"
              KeyPath="true" />
      </Component>

      <Component Id="PathEntry" Directory="INSTALLFOLDER" Guid="{B2C3D4E5-F6A7-8901-BCDE-F12345678901}">
        <Environment Id="PATH"
                     Name="PATH"
                     Value="[INSTALLFOLDER]"
                     Permanent="no"
                     Action="set"
                     System="no"
                     Part="last" />
        <RegistryValue Root="HKMU" Key="Software\SaltSpectre\FileUnblocker" Name="PathEntry" Type="string" Value="1" KeyPath="yes" />
      </Component>

    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ContextMenus">

      <Component Id="FileContextMenu" Directory="INSTALLFOLDER" Guid="{C3D4E5F6-A7B8-9012-CDEF-123456789012}">
        <RegistryKey Root="HKMU" Key="Software\Classes\*\shell\SaltSpectre.Unblocker">
          <RegistryValue Value="Unblock with File Unblocker" Type="string" KeyPath="true" />
          <RegistryValue Name="Icon" Value="[INSTALLFOLDER]unblocker.exe,0" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKMU" Key="Software\Classes\*\shell\SaltSpectre.Unblocker\command">
          <RegistryValue Value='"[INSTALLFOLDER]unblocker.exe" "%1"' Type="string" />
        </RegistryKey>
      </Component>

      <Component Id="DirectoryContextMenu" Directory="INSTALLFOLDER" Guid="{E5F6A7B8-C9D0-1234-EF12-345678901234}">
        <RegistryKey Root="HKMU" Key="Software\Classes\Directory\shell\SaltSpectre.Unblocker">
          <RegistryValue Value="Unblock directory with File Unblocker" Type="string" KeyPath="true" />
          <RegistryValue Name="Icon" Value="[INSTALLFOLDER]unblocker.exe,0" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKMU" Key="Software\Classes\Directory\shell\SaltSpectre.Unblocker\command">
          <RegistryValue Value='"[INSTALLFOLDER]unblocker.exe" "%1"' Type="string" />
        </RegistryKey>
      </Component>

      <Component Id="DirectoryBackgroundContextMenu" Directory="INSTALLFOLDER" Guid="{A7B8C9D0-E1F2-3456-1234-567890123456}">
        <RegistryKey Root="HKMU" Key="Software\Classes\Directory\Background\shell\SaltSpectre.Unblocker">
          <RegistryValue Value="Unblock current directory" Type="string" KeyPath="true" />
          <RegistryValue Name="Icon" Value="[INSTALLFOLDER]unblocker.exe,0" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKMU" Key="Software\Classes\Directory\Background\shell\SaltSpectre.Unblocker\command">
          <RegistryValue Value='"[INSTALLFOLDER]unblocker.exe" "%V"' Type="string" />
        </RegistryKey>
      </Component>

    </ComponentGroup>
  </Fragment>

</Wix>
